<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cash Map</title>
        <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css" rel="stylesheet" />
        <link href='//fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="/css/main.css" rel="stylesheet">
        <script src="/js/jquery.min.js"></script>
        <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyD6F20KPQ8HYqTEZpweGaBPaMnRKu_MGcI" type="text/javascript"></script>
        <!-- <script async defer src="https://maps.googleapis.com/maps/api/js"> </script> -->
    </head>
    <body>
        <aside id="info">
            <aside id="update-info">
                <div class="input-group">
                    <div>
                        <input type="text" id="customer" placeholder="Customer ID" value="56ff1609480cf02f0f88a574"/>
                        <button id="process-customer">
                            <span class="fa fa-arrow-right"></span>
                        </button>
                    </div>
                </div>
            </aside>
            <header>
                <h3>Purchase Date</h3>
            </header>
            <div id="dates">
            </div>
        </aside>

        <div id="loading">
            <span id="loading_msg"><i class="fa fa-spinner fa-spin"></i> Loading</span>
        </div>
        <div id="map"></div>
        <script src="/js/main.js"></script>
        <script src="/js/map.js"></script>
    </body>
</html>
